<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ürünler</title>
  </head>
  <body>

    <h1> <%- baslik %> </h1>
    <p> Yorum Sayısı: <%- yorumsayisi %> </p>
    <p> Fiyatı: <%- fiyat %> </p>
  </body>
</html>
